現在時刻： <%= Time.now %><br />
<% cache(:controller =>'extra',:action => 'f-logic2') do %>
	<% @books = Book.all %>
	<ul>
	<% @books.each do |book| %>
		<li><%=book.title%></li>
	<% end %>
	</ul>
<% end %>